[Desktop Entry]
Encoding=UTF-8
Name=httpbin
Comment=httpbin example
X-AW-Ticker=https://httpbin.org/get
X-AW-Active=false
X-AW-ApiVersion=2
X-AW-Interval=10
X-AW-Number=0
X-AW-Schedule=
X-AW-Socket=
