[Desktop Entry]
Encoding=UTF-8
Name=AAPL.NASDAQ
Comment=Apple Inc
X-AW-Ticker="AAPL"
X-AW-Active=false
X-AW-ApiVersion=2
X-AW-Interval=60
X-AW-Number=0
