[Desktop Entry]
Encoding=UTF-8
Name=GOOG.NASDAQ
Comment=Google Inc
X-AW-Ticker="GOOG"
X-AW-Active=false
X-AW-ApiVersion=2
X-AW-Interval=60
X-AW-Number=3
