[submodule "sources/3rdparty/task"]
	path = sources/3rdparty/task
	url = https://github.com/arcan1s/qtadds-taskadds-qprocess.git
[submodule "sources/3rdparty/tasks"]
	path = sources/3rdparty/tasks
	url = https://github.com/mhogomchungu/tasks.git
[submodule "sources/3rdparty/fontdialog"]
	path = sources/3rdparty/fontdialog
	url = https://github.com/arcan1s/qtadds-fontdialog.git
