[Desktop Entry]
Encoding=UTF-8
Name=default-ubuntu
Comment=Ubuntu upgrade info
Exec=aptitude search '~U'
X-AW-Active=false
X-AW-Filter=
X-AW-Null=0
X-AW-Interval=3600
X-AW-ApiVersion=4
X-AW-Number=4
X-AW-Schedule=
X-AW-Socket=
