[Desktop Entry]
Encoding=UTF-8
Name=default-arch
Comment=Archlinux upgrade info
Exec=pacman -Qu
X-AW-Active=false
X-AW-Null=0
X-AW-Interval=3600
X-AW-ApiVersion=2
X-AW-Number=0
