[Desktop Entry]
Encoding=UTF-8
Name=MSFT.NASDAQ
Comment=Microsoft Corp
X-AW-Ticker="MSFT"
X-AW-Active=false
X-AW-ApiVersion=5
X-AW-Interval=60
X-AW-Number=4
X-AW-Schedule=
X-AW-Socket=
