[Desktop Entry]
Encoding=UTF-8
Name=RTS
Comment=RTS Index
X-AW-Ticker="RTS.RS"
X-AW-Active=false
X-AW-ApiVersion=4
X-AW-Interval=60
X-AW-Number=5
X-AW-Schedule=
X-AW-Socket=
