[Desktop Entry]
Comment=London current weather
Encoding=UTF-8
Name=London current
X-AW-Active=false
X-AW-ApiVersion=3
X-AW-City=London
X-AW-Country=uk
X-AW-Image=false
X-AW-Interval=3600
X-AW-Number=0
X-AW-Provider=OWM
X-AW-TS=0
