[Desktop%20Entry]
Comment=Default float formatter
Encoding=UTF-8
Name=Float
X-AW-Active=true
X-AW-ApiVersion=2
X-AW-FillChar=@Variant(\0\0\0\a\0\0)
X-AW-ForceWidth=false
X-AW-Format=102
X-AW-Interval=1
X-AW-Multiplier=1
X-AW-Number=0
X-AW-Precision=1
X-AW-Summand=0
X-AW-Type=Float
X-AW-Width=5
