[Desktop Entry]
Encoding=UTF-8
Name=default-arch
Comment=Archlinux upgrade info
Exec=pacman -Qu
X-AW-Prefix=
X-AW-Active=false
X-AW-Null=0
X-AW-ApiVersion=1
