[Desktop Entry]
Encoding=UTF-8
Name=default-debian
Comment=Debian upgrade info
Exec=apt-show-versions -u -b
X-AW-Prefix=
X-AW-Active=false
X-AW-Null=0
X-AW-ApiVersion=1
