[Desktop Entry]
Encoding=UTF-8
Name=aw-script-template
Comment=Template for external script
# path to command
Exec=/path/to/some/command
# usually you need to leave this field blank
# use this field to setup script language for example
X-AW-Prefix=/prefix/to/command/if/required
# is the script active. true or false
X-AW-Active=false
# is the script has output. true or false
X-AW-Output=false
# use redirect for the script
# stderr2stdout, nothing, stdout2stderr
X-AW-Redirect=nothing
# update interval in default AW intervals
X-AW-Interval=1
# API version
X-AW-ApiVersion=1
